*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;

}

.header{
    width: 100%;
    padding-block: 2rem;
   
    display: flex;
    background-image: url('/img/livroheader.png');
    background-size: cover;
    flex-direction: column;
    align-items: center;
}

.header__menu{
    width: 50%;
    height:130px ;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__menu p{
    color: white;
    font-size: 1rem;
}
.header__menu--logo img{
   width: 100px;
   height: 100px;
   height: auto;
   border-radius: 50%;
}
.header__menu--horario{
    background-color: green;

   
}
.main__boxlivros{
    width: 100%;
    max-width: 1200px;
    display: grid;
    padding: 2rem;
    justify-content: center;
    justify-items: center;
    
    gap: 1.5rem;
    
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.main{
    display: flex;
  
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
   
}

.main__title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: .3rem;
    width: 80%;
    font-weight: bold;
    text-align: start;
    font-size: 1.2rem;
    
}
.main__boxlivros--card{
  
    padding: 1rem;
    gap: .8rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* background-color: gray; */
}
.main__boxlivros--title{
    width: 100%;
    display: flex;
    gap: .8rem;
   
}
.main__boxlivros--title img{
    width: 100px;
}
.main__boxlivros--title p:nth-child(2){
    font-size: 1.2rem;
    
}

.main__boxlivros--title p:nth-child(3){
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.btn_adicionar{
    background-color: #e70000;
    border: none;
    color: white;
    padding: .7rem;
    outline: none;
}
.main__boxlivros--precodescri h1{
    font-size: 1.3rem;
}

.main__boxlivros--precodescri p{
    text-align: justify;
}

.footer{
    display: flex;
    
    position: sticky;
    bottom: 0px;
  
    width: 100%;
   
    padding-block: 1rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 68, 68);
}
.button__adicionar{
    border: 2px solid red;
}

